
.title
{
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: relative;
}

.header img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: auto;
}

.header h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, rgb(246, 96, 121), rgb(246, 0, 123), #816694);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
  
.line {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 10px;
  background: linear-gradient(to right, rgb(246, 96, 121), rgba(171, 46, 255, 0.679), #816694);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.admin-hm-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .admin-hm-sm-container {
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 40px;
  }
  .admin-hm-sm-container img {
    width: 250px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
  }
  @media(max-width:768px)
  {
    .admin-hm-container
    {
      margin-left: 35px;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }
  }